.jumbotron {
    background-color: rgb(63, 63, 63);
    color: white;
    margin-bottom: 0;
}

.col-md-4 {
    background-color: rgb(201, 201, 201);
    padding-bottom: 100%;
}

/* Styles for generated 'buttons' that appear on user input */
ul {
    list-style-type: none;
}

li {
    background-color:  rgb(4, 186, 241);
    color: white;
    display: inline-block;
    text-align: center;
    width: 99%;
    border-radius: 10px;
    border: 4px double #cccccc;
    cursor: pointer;
}

li:hover {
    background-color: white;
    color: rgb(4, 186, 241);
}

/* Styles for overview section and forecast section */
.row {
    max-width: 100%;
}

#overview {
    padding: 5px;
    margin: 15px;
    border-radius: 8px;
    border: 2px solid rgb(202, 202, 202);
}

.card {
    width: 16%;
    float: left;
    margin: 1px;
    background-color: rgb(4, 186, 241);
    color: white;
    height: 80%;
}